$hover-color: rgba(29, 155, 240);

:host {
  display: inline-flex;
  flex-flow: row nowrap;
  background-color: inherit;
  padding-left: 12px;
}

svg {
  background-color: inherit;
  fill: #747577;
}

.circle{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: inherit;
 }

 .active-svg {
  background-color: inherit;
  fill: $hover-color;
 }
