:host {
  display: inline-flex;
  justify-content: space-between;
  background-color: inherit;
}

.info {
  display: inline-flex;
  flex: row nowrap;
  align-items: stretch;
  height: 20px;
  flex-shrink: 2;
  background-color: inherit;
}
