:host {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.menu {
  width: 10%;
}

.content {
  width: 70%;
  border: 2px solid #252525;
  height: 100%;
}

.extra {
  width: 20%;
}
