:host {
  margin-top: 12px;
  max-height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid #252525;
  border-color: #252525;
  background-color: inherit;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  background-color: inherit;
}

.a{
  width: 100%;
  max-width: 100%;
  background-color: inherit;
}

img {
  width: 100%;
  background-color: inherit;
}
