<div class="tweet">
  <app-photo [url]="tweet.profileImage"></app-photo>
  <div class="content">
    <app-info [tweet]="tweet"></app-info>
    <div class="tweet-content">
      <app-content-text [value]="tweet.text"></app-content-text>
      <app-attachments [imgList]="tweet.attachments"></app-attachments>
      <div class="footer">
        <div class="items">
          <div *ngFor="let icon of icons; let i = index">
            <app-icon  [icon]="icon" [value]="getNumberValue(i)"></app-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
