<div class="tweet" (click)="foundThread()">
  <app-photo [url]="tweet.profileImage"></app-photo>
  <div class="content">
    <app-info [tweet]="tweet"></app-info>
    <div class="tweet-content">
      <app-content-text [value]="tweet.text"></app-content-text>
      <app-attachments [imgList]="tweet.attachments"></app-attachments>
      <div class="footer">
        <div class="items">
            <app-icon
              *ngFor="let icon of icons; let i = index"
              [icon]="icon"
              [value]="getNumberValue(i)">
            </app-icon>
        </div>
      </div>
    </div>
  </div>
</div>
