$hover-color: rgba(29, 155, 240);

:host {
  display: inline-flex;
  flex-flow: row nowrap;
  background-color: inherit;
  &:hover {
    cursor: pointer;

    .circle{
      background: rgba($hover-color, 20%);
    }
    svg {
      background: transparent;
      fill: rgba($hover-color, 100%);
    }
    span {
      color: rgba($hover-color, 100%);
    }
  }
}

svg {
  background-color: inherit;
  fill: #747577;
}

span {
  padding-left: 8px;
  align-self: center;
  color: #747577;
  font-size: 13px;
  background-color: inherit;
}

.circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: inherit;
}

.text {
  background-color: inherit;
}
